

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
div {
    display: inline-block;
}

body {
	background-color: #0693e3 !important;
    background-image: url('/static/img/imgfundo.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
	background: #FFFFFF;
	border-radius: 10px;
	text-align: center;
}

.links{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 22px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

/* .navbars{
    flex: 1 1 auto;
    padding: 1rem 1rem;
} */

#home a {
    transition: all .1s;
}

#produto a {
    transition: all .1s;
}
#produto {
    text-align: center;
}
#empregado a {
    transition: all .1s;
}

#navbar a:hover {
    color: #ff6900;
    transition-timing-function: ease-in-out;
    -webkit-text-stroke: 1.85px #ff6900;
    text-decoration: underline;
}

.current_page_of_navbar{
    color: #ff6900;
    transition-timing-function: ease-in-out;
    -webkit-text-stroke: 1.85px #ff6900;
    text-decoration: underline;
    font-size: 24px;
}

.navbars {
    display: flex;
    justify-content: center;
}

#navbar {
	/* text-align: center;
    padding: 5px;
    background-color: #0693e3;
    box-sizing: border-box;
    border: 1px solid #0693e3;
    width: 15rem;
    cursor: pointer; */
    text-align: center;
    padding: 5px;
    background-color: #0693e3;
    box-sizing: border-box;
    border: 1px solid #0693e3;
    width: 15rem;
    cursor: pointer;
}

.mensagens {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

#mensagem{
    display: none;
    color: white;
    text-align: center;
    padding: 5px;
    background-color: #0693e3;
    box-sizing: border-box;
    border: 1px solid #0693e3;
    border-radius: 10px;
    
    width: 25%;
    font-weight: bold;
}

#mensagem2{
    display: none;
    color: white;
    text-align: center;
    padding: 5px;
    background-color: #0693e3;
    box-sizing: border-box;
    border: 1px solid #0693e3;
    border-radius: 10px;
   
    width: 25%;
    font-weight: bold;

}

#mensagem3
{
    display: none;
    color: white;
    text-align: center;
    padding: 5px;
    background-color: #0693e3;
    box-sizing: border-box;
    border: 1px solid #0693e3;
    border-radius: 10px;
    margin-top: 20px;
    width: 25%;
    font-weight: bold;
}

.ancoras {
    text-decoration: none;
    cursor: pointer;
}

#linkHome {

    text-decoration: none; /* ta tirrando o sublinhado dos links */
    color: black;
    cursor: pointer;
}


#foto:hover {
	color: #C78C19;
}

.products{
    border: 3px solid white;
    width: 10rem;
    margin: 10px;
    margin-top: 6%;
    border-radius: 5px;
    color: white;
    /*
    width: 70%;
    margin: 90px;
    */
}

.imagem-fundo{
    background-image: url('/static/img/imgfundo.png');
}

.guardaempregados{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.guardaprodutos{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.borda-cinza{
    border: 3px solid white;
    /* height: 350px; */
    width: 80%;
    margin: 60px;
    margin-top: -10%;
    border-radius: 5px;
    color: white;
    /*
    width: 70%;
    margin: 90px;
    */
}
    
.principal {
    /* align-items: center;
    display:flex;
    justify-content:center;
    min-height: 50vh; */
    margin-left:40%;
    margin-top: 30vh;
}

.load {
    border: 8px solid #13344a;
    border-left-color: #ff6900;
    border-radius: 100%;
    height: 90px;
    width: 90px;
}

.is-animation {
    animation-iteration-count: infinite;
    animation-name: loading;
    animation-duration: 0.8s;
    animation-timing-function: linear;
}


@keyframes loading {
    0%{
        transform: rotate(0)
    }

    100%{
        transform: rotate(360deg)
    }
}

.form-principal{
    align-items: center;
    width: 940px;
    margin-left: 20%;
    margin-right: 70px;
}

.form-principal label{
    display: block;
    margin-top: 20px;
}

/*style of vanilha pagination*/

/* .main {
    position: relative;
    padding: 1rem 1rem 3rem;
    min-height: calc(100vh - 4rem);
} */

.hidden {
    display: none;
}

.pagination-container {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0;
    padding: 1rem 0;
    justify-content: center;
}
   
.pagination-number,
.pagination-button{
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
}
   
.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background: #fff;
}
   
.pagination-number.active {
    color: #fff;
    background: #0085b6;
}

.invalid-input{
    border-color: red;
    border-style: solid;
    border-width: thick;
}