{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
<meta charset="UTF-8">
<title>Criar Produto</title>

    {% include 'partials/_menu.html' %}
    <main style="
           display:flex;
           flex-direction:column;
           align-items:center;">

        <h3 class="" style="color: white; font-size: 25px; margin-top: 2rem; border-style: solid; border-color: #0693e3; padding: 15px; border-radius: 5px;">Criar Produto</h3>

        <form method="post" enctype="multipart/form-data" target="dummyframe" id="form" accept-charset="utf-8" class="form-row form-group col-md-4 form-principal" style="font-size: 18px;
        color: white;
        width:78rem;
        margin-left: 0rem;
        margin-right: 0rem;
        ">{% csrf_token %}
            <!-- <section class="form-principal" id="form-produtos" > -->
                <div class="form-row form-group col-md-4 form-principal" style="
                ">

                    <label>Nome do produto
                        <input type="text" class="form-control col-md-4" id="product_name" name="product_name" placeholder="Nome do produto" required/>
                    </label>

                    <label>Anexo
                        <input type="file"  accept="image/*" class="form-control col-md-3" id="attachaments" name="attachaments" placeholder="Anexo" required/>
                    </label>
                    <br>
                    
                    <img id="fotoEscolhida" src="" alt="Foto do produto escolhido" style="display: none; max-width: 200px; 
                    max-height: 150px;">


                    <label>Categoria

                        <select name="" class="form-control" id="category" required>
                            <option value="Baked Goods & Mixes">Baked Goods & Mixes</option>
                            <option value="Beverages">Beverages</option>
                            <option value="Candy">Candy</option>
                            <option value="Canned Fruit & Vegetables">Canned Fruit & Vegetables</option>
                            <option value="Canned Meat">Canned Meat</option>
                            <option value="Cereal">Cereal</option>
                            <option value="Chips, Snacks">Chips, Snacks</option>
                            <option value="Condiments">Condiments</option>
                            <option value="Dairy products">Dairy products</option>
                            <option value="Dried Fruit & Nuts">Dried Fruit & Nuts</option>
                            <option value="Grains">Grains</option>
                            <option value="Jams, Preserves">Jams, Preserves</option>
                            <option value="Oil">Oil</option>
                            <option value="Pasta">Pasta</option>
                            <option value="Sauces">Sauces</option>
                            <option value="Soups">Soups</option>
                        </select>
                    </label>

                    <label >Código do produto
                        <input type="text"  class="form-control col-md-4" id="product_code" name="product_code" pattern="[A-Za-z0-9-]+" placeholder="Código do produto" required>
                    </label>
                    
                    <label>Discontinuado</label>
                        <div class="row">

                            <div class="col-sm-3">
                                <label>Não  <input class="" type="radio" id="dicontinuado" value="0" checked="checked" name="discontinuado"></label>
                                                               

                            </div>

                            <div class="col-sm-3">
                                <label>Sim  <input class="" type="radio" id="dicontinuado" value="1" name="discontinuado"></label>
                                
                                
                            </div>
                        </div>
                    
                    <label>Nome Fornecedor
                       
                        <Select  class="form-control"  id="supplyers_id" required>
                            <option value="http://18.231.157.213/api/suppliers/1/">Elizabeth A.</option>
                            <option value="http://18.231.157.213/api/suppliers/2/">Weiler</option>
                            <option value="http://18.231.157.213/api/suppliers/3/">Madeleine</option>
                            <option value="http://18.231.157.213/api/suppliers/4/">Naoki</option>
                            <option value="http://18.231.157.213/api/suppliers/5/">Amaya</option>
                            <option value="http://18.231.157.213/api/suppliers/6/">Satomi</option>
                            <option value="http://18.231.157.213/api/suppliers/7/">Stuart</option>
                            <option value="http://18.231.157.213/api/suppliers/8/">Bryn Paul</option>
                            <option value="http://18.231.157.213/api/suppliers/9/">Mikael</option>
                            <option value="http://18.231.157.213/api/suppliers/10/">Luis</option>
                        </Select>
                    </label>

                    <label>Unidade de venda
                        <input type="text" class="form-control col-md-3" id="quantity_per_unit" pattern="[A-Za-z0-9-]+" name="quantity_per_unit" placeholder="Unidade de venda" required>
                    </label>
                        
                    <label>Nível de reabastecimento
                        <input type="number" min="0" class="form-control col-md-3" id="reorder_level" name="reorder_level" placeholder="Nível de reabastecimento" required>
                    </label>

                    <label>Nível alvo
                        <input type="number" min="0" class="form-control col-md-3" id="target_level" name="target_level" placeholder="Nível alvo" required>
                    </label>

                    <label>Quantidade mínima de pedido
                        <input type="number" min="0" class="form-control col-md-3" id="minimun_reorder_quantity" name="minimun_reorder_quantity" placeholder="Quantidade mínima de pedido" required>
                    </label>

                    <label>Unidades em estoque
                        <input type="number" min="0" class="form-control col-md-3" id="units_in_stock" name="units_in_stock" placeholder="Unidades em estoque" required>
                    </label>
                    

                    <label>Status
                        <select name="select" id="status" class="form-control" name="status" required>
                            <option value="D" selected>Disponível</option>
                            <option value="I">Indisponivel</option>
                        </select>
                    </label>

                    <label>Custo 
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">R$</span>
                            </div>
                            <input type="number" class="col-md-3 form-control" style="width: 250px"  step="0.01" min="0.01" id="standard_cost" name="standard_cost" placeholder="Custo" required>
                        </div>
                    </label>

                    <label>Preço de venda
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">R$</span>
                            </div>
                            <input type="number" step="0.01" min="0.01" class="col-md-3 form-control"  style="width: 250px" id="list_price" name="list_price" placeholder="Preço de venda" required>
                        </div>
                    </label>

                    <label>Descrição do produto
                        <textarea rows="4" cols="50" pattern="[A-Za-z0-9-]+" class="form-control col-md-3" id="description" name="description" placeholder="Descrição do produto"></textarea>
                    </label>                
                
                <br>
                    
                <button id="btn-enviar" style="width: 200px; height: 50px;margin-left: 30%; margin-bottom: 100px; border-radius: 8px;" >Enviar</button>
            <!-- </section> -->
        </form>
          
    </main>

    <script src="{% static 'js/cria_produto.js' %}" ></script>

{% endblock %}