{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
    <title>funcionarios</title>

    {% include 'partials/_menu.html' %}

    <!-- CONTEUDO EMPREGADOS 1 -->
    <div class="guardaempregados">
        <div class="empregados" id="empregados" style=" width: 90%; margin: 6%;">
        </div>

        <section id="principal" class="principal" style=" margin-right: 48%;">
            <div class="load is-animation" id="load"></div>
        </section>

    </div>

	<script src="{% static 'js/funcionarios.js'%}"></script>
{% endblock %}