{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
    <title>Produtos</title>
    {% include 'partials/_menu.html' %}
    
    <div style="
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 22px;
    ">
        <a href="criar_produto" class="btn btn-secondary" style="margin-left: 39rem;">Novo Produto</a>
    </div>

    <section id="paginated-list" aria-live="polite" style="
    display:flex;
    justify-content: center;
    ">
        
        <div id="produtos2" style="
            width: 70%;
            margin-left: 6rem;
            ">

            <section id="principal" class="principal ">
                <div class="load is-animation" id="load"></div>
            </section>      
            
        </div>
    </section>

    <section class="pagination-container">
        <button class="pagination-button" id="prev-button" aria-label="Previous page" title="Previous page">
            &lt;
        </button>

        <div id="pagination-numbers"></div>
    
        <button class="pagination-button" id="next-button" aria-label="Next page" title="Next page">
            &gt;
        </button>
    </section>

	<script src="{% static 'js/produtos2.js'%}"></script>	
{% endblock %}
